.v11{
    background-color: rgb(159, 245, 119);
    -webkit-transition-duration: 0.9s; /* Safari */
   transition-duration: 0.9s;
}

.v11:hover{
    background-color: rgb(97, 170, 63);
} 
.v12{
    background-color: rgb(45, 122, 238);
    -webkit-transition-duration: 0.9s; /* Safari */
   transition-duration: 0.9s;
}

.v12:hover{
    background-color: rgb(30, 85, 167);
} 
.ico{
    height: 65px;
    width: 65px;
    align-items: center;
}
.ico2{
    text-align: center;
}
.title{
    text-align: center;
}
.cont{
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}