<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      <h1 class="titulo-tolbar">Ventas</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <br><br>

  <div class="cont">

    <ion-row>
      <ion-col size="12" >
        <ion-card class="card-buscar">
          <ion-icon name="search-outline" class="icono-buscar"></ion-icon>
          <ion-input placeholder="Ingrese el nombre del producto" type="email" class="input-buscar"></ion-input>
        </ion-card>
      </ion-col>
    </ion-row>

    <br>


  </div>

  <div id="global">
    <div id="mensajes">
      <div *ngFor="let Producto of productos" class="cont">
        <ion-row>
            <ion-col size="12" >
              <ion-card class="prod" (click)="cuenta(Producto.precio,Producto)">
                <h1 class="ico2" color="dark"><FONT color="black">${{Producto.precio}} --- <b>{{Producto.nombre}}</b> </FONT></h1>
              </ion-card>
            </ion-col>
          </ion-row>
      </div>
    </div>
  </div>
    

  <div>
        <ion-card class="card-cobrar">
          <h1><FONT color="black"><b>Total Venta:</b>{{total}}</FONT></h1>
          <h1><FONT color="black">Numero de productos:{{cantidadProd}}</FONT></h1>
          <ion-icon (click)="cobrar()" name="cash-outline" color="dark" class="icono-cobrar"></ion-icon>
        </ion-card>
      

    
  </div>

</ion-content>
