
<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>

  <div class="cont">

    <ion-row>

      <ion-col size="12" >
        <ion-card class="v11" color="secondary" [routerLink]="['/Ventas']">
          <p class="ico2"><ion-icon color="dark" name="cart-outline" class="ico"></ion-icon></p>
          <h5 class="ico2" color="dark"><FONT color="black">Modulo de Venta</FONT></h5>
        </ion-card>
      </ion-col>
  
    </ion-row>
  
    <ion-row>
  
      <ion-col size="12" >
        <ion-card class="v12" color="secondary" [routerLink]="['/Inventario']">
          <p class="ico2"><ion-icon color="dark"  name="file-tray-stacked-outline" class="ico"></ion-icon></p>
          <h5 class="ico2" color="dark"><FONT color="black">Tu inventario</FONT></h5>
        </ion-card>
      </ion-col>
  
    </ion-row>

    <ion-row>
  
      <ion-col size="12" >
        <ion-card class="v13" color="secondary">
          <p class="ico2"><ion-icon color="dark" name="clipboard-outline" class="ico"></ion-icon></p>
          <h5 class="ico2" color="dark"><FONT color="black">Administracion</FONT></h5>
        </ion-card>
      </ion-col>
  
    </ion-row>

  </div>

</ion-content>
